<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/signin.css" type="text/css">
    </head>
    <body>
        <h1>LOG IN</h1>
            <form  method="post" action="/signin">
                <label for="Mail">Email:</label>
                <input type="text" class="Email" name="Email" minlength="2">
                <br>
                <label for="Name">Name:</label>
                <input type="text" class="Name" name="Name" minlength="2">
                <br>
                <label for="Password">Password:</label>
                <input type="password" class="Password" name="Password" minlength="2">
                <br>
                <button type="submit">Sign Up</button>
            </form>
    </body>
</html>